

<!--
<header (click)="showVideo()" style="background-image:url({{image_header}});" id="header">
        <img class="playButton" src="../../assets/image/boutonPlay2.png" *ngIf="!videoBoolean">
        <div class="gradient"></div>
    <video *ngIf="videoBoolean" autoplay id="videoHeader"  (click)="pause_video()">
        <source src="{{header_video.video}}" type="video/mp4" />
      </video>

  </header>
-->

<header  style="background-image:url({{allBook[NumberRandom].img_mangas}});" id="header">
    <div class="gradient"></div>
</header>
