

  <div class="container">

    <section id="cart"> 
      <article class="product">
        <header>
          <a class="remove">
            <img src="https://static.fnac-static.com/multimedia/FR/images_produits/FR/Fnac.com/ZoomPE/8/5/3/9782723433358/tsp20130902121711/A-l-aube-d-une-grande-aventure.jpg" alt="">
          </a>
          <div class="content">
        <section class="contentCustom">
          
          <div>
            <h1>One piece tome 1</h1>
            <p>Eiichiro Oda</p>
          </div>

            <div class="increase">
              <span class="qt-minus">-</span>
              <span class="qt">2</span>
              <span class="qt-plus">+</span>
            </div>
          </section>
          </div>
          <footer class="content">
          
            <div class="prix">
              <h2 class="full-price">
                29.98€
              </h2>
    
              <h2 class="price">
                14.99€
              </h2>
            </div>
            </footer>
        </header>
      </article>
    </section>

  </div>

  <footer >
  <div id="site-footer">
    <div class="container clearfix">

      <div class="left">
        <h2 class="subtotal">Sous-total: <span>163.96</span>€</h2>
        <h3 class="tax">Taxes (5%): <span>8.2</span>€</h3>
        
      </div>

      <div class="right">
        <h1 class="total">Total: <span>177.16</span>€</h1>
        <a class="btn">Acheter</a>
      </div>

    </div>
  </div>
  </footer>