
:host {
    background-color: #0000;
    min-height: 100vh;
  }
  
 
  .container {
   
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-right: 10px;
   
  }
  

  //---------------------------------------------------ARTICLE---------------------------------------------------------------//

  .product {
    
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 10px;
    background-color:  rgb(65, 65, 65);
  }
  
  .product img {
    width: 100%;
    height: 100%;
   
    margin-left: 10%;
  }
  
  .product header, .product .content {
    display: flex;
    justify-content: space-between;
    display: flex;
   
    height: 140px;
  }
  

  .product .content {
    padding: 0 5px;
  }

  .contentCustom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  //----------------------------------TITRE PRODUIT-------------------------------//
  .product h1 {
    color: white;
    font-size: 95%;
    font-weight: 300; 
  }

  .product p {
    margin-top: 5px;
    color:rgb(188, 188, 188);
    font-size: 80%;
  }

  //--------------------------------------PRIX------------------------------------//
  .prix {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product footer .price { 
    font-size: 15px;
   font-weight: 100;
  }
  

  .product footer .full-price {
    background:black;
    color: #fff;
    float: right;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
  }
  
  //-----------------------------  BOUTON + ET -  -------------------------------//

  .increase {
    background-color: #000000;
    width: 55%;
    border-radius: 5px;
  }

  .qt {
    font-size: 15px;
    text-align: center;
    margin: 8px;
    padding: 5px;
    
  }
  
  .qt-plus, .qt-minus {
    background: grey;
    border-radius: 5px;
    font-size: 25px;
    padding: 0 10%;
    
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: rgb(49, 49, 49);
    color: #fff;
    cursor: pointer;
  }
  
  
  
//-----------------------------------------------------FOOTER---------------------------------------------------------------//

.clearfix {
  
  content: "";
  display: table;
  clear: both; 
  background-color:rgb(65, 65, 65);
  
 
}

  #site-footer h1 {
    background: #000000;
    border: 1px solid #ccc;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
  }
  
  #site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  
  #site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    background: grey; 
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 16px 0;
    width:100%;
    text-align: center;
  
    
  }
  
  .btn:hover {
    color: #fff;
    background: grey;
  }
