<form action="" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Connexion</h2>
    <div>
      <label for="login">Email</label>
      <input type="email" id="login" name="email" placeholder="Email" required formControlName="email">
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="pass" placeholder="Mot de passe" required formControlName="password">
    </div>
    <div style="margin: 0 50px;">

      <input type="submit" value="Connexion" [disabled]="loginForm.invalid">

      <a routerLink="/inscription">Créer un compte</a>
      <br>
      <a href="#">Mot de passe oublié ?</a>
    </div>
    <p *ngIf="!Verif_user" style="background-color: red; color: white; padding: 1rem;">Le mot de passe oû l'email est incorrect</p>
  </form>

