<!-- Appel de librairie d'icones -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- La forme -->
<form class="example" action="" [formGroup]="search_mangas" (ngSubmit)="mangas_value()">
  <input type="text" id="search" name="search" placeholder="One Piece" required  formControlName='search'>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="listeManga"  *ngIf="!booleen_result ;  else elseBlock;">
  <div class="mangaContainer" *ngFor="let  book of allBook; let i = index">
  <img  [src]="book.img_mangas" [routerLink]="['/mangas_id/'+ book.id]">
    <p>{{book.name}}</p>
</div>
</div>

<ng-template #elseBlock>
<div class="listeManga">
  <div class="mangaContainer" *ngFor="let result of resultat">
  <img [src]="result.img_mangas" [routerLink]="['/mangas_id/'+ result.id]">
    <p>{{result.name}}</p>
</div>
</div>
</ng-template>


