$transition: all .3s ease-in-out;

*,*::after,*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  background: black;
  color: white;
}

h2 {
  display: block;
  margin: 20px;
  color: white;
  text-align: center;


}

form {
  padding: 10px 20px;
  width: 100%;
  background: rgb(65, 65, 65);
  border: 5px solid black;
  position: relative;

  div {
    display: block;
    text-align: left;
    margin: 10px 0px;
    width: 100%;
  }

  a {
    display: block;
    color: white;
    opacity: .7;
    font-size: .8em;
    transition: $transition;

    &:hover,&:active {
      opacity: 1;
    }
  }
}

label {
  display: inline-block;
  margin: 2px 0px;
  width: 100%;
  color: white;
  font-size: .8em;
  opacity: .7;
  transition: $transition;
  transform: scale(0);
  transform-origin: top left;
}

label.active {
  transform: scale(1);
}

input {
  display: block;
  padding: 7px 5px;
  width: 85%;
  outline: none;
  background: black;
  border:  white;
}

input[type="submit"] {
  margin: 20px 0px 30px;
  width: 123px;
  background: black;
  color: white;
  cursor: pointer;
  transition: $transition;

  &:hover,&:active {
    background: black;
  }
}


input[type="text"]:invalid:focus {
  background: grey;
  transition: $transition;
}


input[type="text"]:valid,
input[type="text"]:valid:focus {
  background:grey;
  color: white;
  transition: $transition;
}

::-webkit-input-placeholder {
  color: white;
  opacity: .7;
  transition: $transition;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

form{

  position: sticky;
  top: 0;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;

  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }



  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .listeManga {
 display: flex;
 justify-content: space-evenly;
 flex-flow: wrap;
    margin-bottom: 50px;
    width: 100%;

  }
  .mangaContainer {

    width: 45%;
    height:17%;
    margin: 1%;




  }


.mangaContainer > img{

  width: 100%;
  height: 80%;
}


