<div *ngIf="toggle">
  <div (click)="toggle = false" id="lightbox">
    <div class="price">{{ currentManga.price }}</div>
    <img src="{{ currentManga.img_tome }}" alt="tomeDeManga" >
    <button class="basket"><a>Ajouter au panier</a></button>
    <p>Cliquez pour fermer</p>
  </div>
  
</div>



<section class="container">
<h3>Dernières sorties</h3>
<br />

<drag-scroll>
  <div *ngFor="let book of mangas; let i = index">
      <div drag-scroll-item>
        <div class="price">{{ book.price }}</div>
        <div class="target-trigger" id="back" (click)="showModal(i)">
          <img src="{{ book.img_tome }}" />

          <p>{{ book.name }} {{ book.tome }}</p>

          <p>{{ book.author }}</p>
        </div>
      </div>
  </div>
</drag-scroll>




</section>