


drag-scroll{
    height: 260px;
    width: 100%;
    overflow: hidden !important;
    display: flex !important;

  }

  _ngcontent-mmv-c99{

    display: flex !important;
  }
  img {
    height: 200px;
    width: 140px;
    margin: 0 10px;
  }

  div p {
    text-align: center;
    color: white;
  }

  h3 {
    color: white;
    margin-left: 20px;

  }

  div p:nth-last-child(1) {
    font-size: 12px;
  }

  div p:nth-last-child(2) {
    font-size: 14px;
  }

  .price {

    width: 55px;
    text-align: center;
    background-color: rgb(99, 99, 99);

    transform:translate(100px, 30px)

  }



  /* the style in target will be activated when link targeting it is clicked */

  #lightbox > img {
    width: 250px;
     height: 400px ;
  }

  #lightbox {
   width: 100%;
   height: 100%;
   top: 0%;
      display: flex;
      background: rgb(0 0 0 / 80%);
      align-items: center;
      flex-direction: column;
      justify-content: center;
     position: fixed;
      z-index: 2;
  }
  
  


  //---------------------------------------BOUTON D'AJOUT AU PANIER------------------------------------//

  .basket {
    background-color: grey;
    border: none;
    padding: 10px 10px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1.98px;
    margin-top: 10px;
  

  }
  
  .basket:before {
    background: url("https://res.cloudinary.com/dviuglhwb/image/upload/v1489676297/cart_t8m4la.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 20px;
    vertical-align: middle;
    width: 30px;
  }