
<drag-scroll style="overflow: hidden!important;">
    <div >
      <img drag-scroll-item src="https://m.media-amazon.com/images/I/91GFoGZ4zBL.jpg" />
      <img drag-scroll-item src="https://www.cdiscount.com/pdt2/0/6/7/1/700x700/kan9782505065067/rw/naruto-tome-72.jpg" />
      <img drag-scroll-item src="https://m.media-amazon.com/images/I/91ZyCcD1aUL.jpg" />
      <img drag-scroll-item src="https://m.media-amazon.com/images/I/91GFoGZ4zBL.jpg" />
      <img drag-scroll-item src="https://www.cdiscount.com/pdt2/0/6/7/1/700x700/kan9782505065067/rw/naruto-tome-72.jpg" />
      <img drag-scroll-item src="https://m.media-amazon.com/images/I/91ZyCcD1aUL.jpg" />
    </div>
    </drag-scroll>